/********** transform-translate ************/
/********** transform-rotate ************/
/********** transition ************/
/********** box-shadow *************/
/******** Responsive *******/
.fs-12 {
  font-size: 0.75rem !important; }

.fs-13 {
  font-size: 0.8125rem !important; }

.fs-14 {
  font-size: 0.875rem !important; }

.fs-15, .room-items-map ul li a h5 {
  font-size: 0.94rem !important; }

.fs-16, .tab-content.tab-content-items-selection .custom-control label {
  font-size: 1rem !important; }

.fs-18, .room-items-map ul li a h4 {
  font-size: 1.125rem !important; }

.fs-20 {
  font-size: 1.25rem !important; }

.fs-24, .book-appointemnt-details-wrapper .book-appointemnt-details h5 {
  font-size: 1.5rem !important; }

.fs-30 {
  font-size: 1.875rem !important; }

.fs-36 {
  font-size: 2.25rem !important; }

.padding-0 {
  padding: 0 !important; }

.paddingLeft-0 {
  padding-left: 0 !important; }

.paddingRight-0 {
  padding-right: 0 !important; }

.margin-0 {
  margin: 0 !important; }

.marginLeft-0 {
  margin-left: 0 !important; }

.marginRight-0 {
  margin-right: 0 !important; }

.marginTop-1 {
  margin-top: 1rem !important; }

.marginBottom-1 {
  margin-bottom: 1rem !important; }

.fw-300 {
  font-weight: 300 !important; }

.fw-500 {
  font-weight: 500 !important; }

.fw-bold {
  font-weight: bold !important; }

::placeholder {
  color: #afafaf !important;
  opacity: 1;
  /* Firefox */ }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #afafaf !important; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #afafaf !important; }

.theme-color {
  color: #f99f1c !important; }

.theme-color-2 {
  color: #ef4626 !important; }

.theme-color-bg {
  background: #f99f1c !important;
  color: #fff !important; }

.form-control:not(textarea) {
  height: calc(2.75rem + 2px) !important;
  border-color: #e0e0e0 !important; }
  .form-control:not(textarea):hover, .form-control:not(textarea) :active, .form-control:not(textarea):focus {
    box-shadow: none !important;
    outline: 0 !important; }

input:read-only {
  background: #fff !important; }

.btn-theme {
  color: #fff !important;
  background: #ef4626;
  border: 2px solid #ef4626 !important;
  padding: 14px 60px !important;
  font-weight: bold !important; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .btn-theme {
      padding: 10px !important;
      font-size: 0.8125rem !important; } }
  .btn-theme:hover, .btn-theme :active {
    color: #fff !important; }

.btn-theme-white {
  color: #ef4626 !important;
  border: 2px solid #ef4626 !important;
  padding: 14px 60px !important;
  font-weight: bold !important;
  background: #fff; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .btn-theme-white {
      padding: 10px !important;
      font-size: 0.8125rem !important; } }
  .btn-theme-white:hover, .btn-theme-white :active {
    color: #ef4626 !important; }

.btn-padding-30 {
  padding: 14px 30px !important; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .btn-padding-30 {
      padding: 15px !important; } }

.row-eq-height {
  display: flex; }

.display-flex {
  display: flex; }

.modal.show .modal-dialog {
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  top: 50% !important;
  left: 50% !important;
  position: absolute !important; }
  @media only screen and (min-width: 300px) and (max-width: 320px) {
    .modal.show .modal-dialog {
      width: 280px !important;
      margin: 0 !important; } }
  @media only screen and (min-width: 321px) and (max-width: 480px) {
    .modal.show .modal-dialog {
      width: 320px !important;
      margin: 0 !important; } }

.close {
  top: 20px;
  z-index: 100;
  background: #fff;
  font-weight: 500 !important;
  border: 2px solid #555 !important;
  position: absolute;
  right: 20px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem !important;
  padding: 0rem !important;
  margin: 0 auto !important; }
  .close .times-icon {
    top: -3px;
    display: inline-block;
    position: relative; }
  .close:focus {
    outline: 0; }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    .close {
      top: 15px;
      right: 15px;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem !important;
      font-size: 1rem !important; } }

.custom-control-label::before {
  top: 0rem !important;
  left: -2rem !important;
  width: 1.5rem !important;
  height: 1.5rem !important;
  background-color: #fff !important;
  border: 2px solid #e0e0e0 !important; }

.custom-control-label::after {
  top: .375rem !important;
  left: -1.665rem !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  border-radius: 100%;
  background-size: 80% 80% !important; }

input[type=checkbox]:focus, input[type=radio]:focus {
  outline: 0 !important; }

.budget-increased-wrapper {
  width: 1140px !important;
  margin: 0 auto !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important; }
  @media only screen and (min-width: 300px) and (max-width: 960px) {
    .budget-increased-wrapper {
      width: 100% !important;
      margin: auto !important;
      position: relative !important;
      top: auto !important;
      left: auto !important;
      transform: none !important; } }

.steps-count {
  color: #9b9b9b;
  margin: 30px 0 0;
  display: inline-block; }

select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none; }

/* arrows */
select.classic {
  background-image: linear-gradient(45deg, transparent 50%, #fff 50%), linear-gradient(135deg, #fff 50%, transparent 50%), linear-gradient(to right, #f99f1c, #f99f1c);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), 100% 0;
  background-size: 6px 10px, 5px 10px, 2.5em 3.5em;
  background-repeat: no-repeat; }

/****** Custom checkbox *******/
/* The container */
.custom-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom checkbox */ }
  .custom-check .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 5px; }

/* Hide the browser's default checkbox */
.custom-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #ef4626;
  color: #ef4626 !important; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #f99f1c;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/*********** Custom radio *******/
/* The container */
.custom-radio {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1.125rem !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Create a custom radio button */ }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .custom-radio {
      font-size: 1rem !important; } }
  .custom-radio .radio-content-wrapper {
    margin-top: 10px;
    position: relative; }
    .custom-radio .radio-content-wrapper .checkmark {
      position: relative !important;
      display: inline-block !important;
      top: 5px !important;
      left: -5px !important; }
  .custom-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #fff;
    border: 2px solid #e0e0e0;
    border-radius: 50%; }

/* Hide the browser's default radio button */
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
  background-color: #fff;
  border: 2px solid #ef4626; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
  top: 4px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f99f1c; }

/********** transform-translate ************/
/********** transform-rotate ************/
/********** transition ************/
/********** box-shadow *************/
/******** Responsive *******/
html {
  font-size: 100%;
  color: #212121 !important;
  font-family: 'Muli', sans-serif !important;
  background-color: #fafafa !important; }

body {
  background-color: #fafafa !important;
  color: #212121 !important; }

.header {
  background: #000;
  color: #fff; }
  .header .header-left-panel {
    position: relative; }
    .header .header-left-panel img {
      position: absolute;
      margin-top: 25px; }
      @media only screen and (min-width: 300px) and (max-width: 480px) {
        .header .header-left-panel img {
          margin-top: 15px;
          height: 45px; } }
    .header .header-left-panel b {
      font-size: 1rem;
      margin-left: 70px;
      margin-top: 20px;
      display: inline-block; }
      @media only screen and (min-width: 300px) and (max-width: 480px) {
        .header .header-left-panel b {
          margin-left: 60px; } }
  .header .header-right-panel ul {
    list-style-type: none;
    float: right;
    margin-top: 22px; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .header .header-right-panel ul {
        float: left;
        margin-top: 0px;
        padding: 0;
        margin-left: 60px; } }
    .header .header-right-panel ul li {
      display: inline-block;
      float: left;
      margin-left: 15px;
      font-size: 0.875rem;
      opacity: 0.5; }
      @media only screen and (min-width: 300px) and (max-width: 480px) {
        .header .header-right-panel ul li {
          margin-left: 0px;
          float: none; } }

.process-steps {
  background: #fff;
  -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15); }
  .process-steps .profile-percentage {
    color: #f99f1c;
    margin: 10px 0 0px 5px;
    display: inline-block; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .process-steps .profile-percentage {
        display: block;
        width: 100%;
        text-align: right;
        margin-bottom: 10px; } }
  .process-steps ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .process-steps ul.process-steps-flow1 {
        width: 80%;
        float: left; } }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .process-steps ul.process-steps-flow1 li a {
        visibility: hidden; } }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .process-steps ul {
        width: 100%;
        float: left; } }
    .process-steps ul li {
      display: block;
      width: 25%;
      float: left;
      text-align: center;
      position: relative; }
      .process-steps ul li a {
        color: #9b9b9b;
        font-size: 1rem;
        padding: 0px 5px 15px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        background: #fff;
        z-index: 1; }
      .process-steps ul li .process-steps-line {
        width: 100%;
        height: 0px;
        display: block;
        border-bottom: 2px dashed #d7d7d7;
        position: absolute;
        left: 0;
        top: 12px; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .process-steps ul li .process-steps-line:after {
            width: 35px;
            height: 35px;
            background: #fff;
            position: absolute;
            content: 'x';
            left: 0;
            top: -17px;
            border-radius: 100%;
            line-height: 20px;
            text-align: center;
            color: #fff;
            border: 2px solid #e0e0e0;
            padding: 5px; } }
      .process-steps ul li:last-of-type {
        text-align: right;
        float: left; }
        @media only screen and (min-width: 300px) and (max-width: 420px) {
          .process-steps ul li:last-of-type .process-steps-line {
            border-bottom: 0px dashed #d7d7d7; } }
      .process-steps ul li:first-child {
        text-align: left;
        float: left; }
      .process-steps ul li.completed a {
        color: #212121; }
      .process-steps ul li.completed .process-steps-line {
        border-bottom: 2px dashed #f99f1c; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .process-steps ul li.completed .process-steps-line:after {
            width: 35px;
            height: 35px;
            background: #f99f1c;
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f00c";
            left: 0;
            top: -17px;
            border-radius: 100%;
            line-height: 20px;
            text-align: center;
            color: #fff;
            border: 2px solid #f99f1c;
            padding: 5px; } }
      .process-steps ul li.active a {
        color: #ef4626; }
      .process-steps ul li.active .process-steps-line {
        border-bottom: 2px dashed #f99f1c; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .process-steps ul li.active .process-steps-line:after {
            width: 35px;
            height: 35px;
            background: #fff;
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f111";
            left: 0;
            top: -17px;
            border-radius: 100%;
            line-height: 20px;
            text-align: center;
            color: #f99f1c;
            border: 2px solid #ef4626;
            padding: 5px; } }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .text-sm-center.text-xs-center {
    text-align: center; } }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .d-sm-no {
    display: none !important; } }

.d-md-block {
  display: block; }
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .d-md-block {
      width: 80% !important; } }

.d-xs-block {
  display: none; }
  .d-xs-block a {
    color: #ef4626 !important; }
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .d-xs-block {
      font-size: 0.8125rem;
      font-weight: bold !important;
      margin-top: 25px;
      display: inline-block; } }

.process-steps.process-steps-items-selection ul li {
  display: flex; }
  .process-steps.process-steps-items-selection ul li img {
    width: 27px; }
  .process-steps.process-steps-items-selection ul li a {
    text-align: left !important;
    padding: 15px 10px !important;
    font-size: 0.8125rem !important; }
.process-steps.process-steps-items-selection ul li:last-of-type {
  text-align: left !important; }

.process-steps.process-steps-consultation ul li {
  display: flex; }
  .process-steps.process-steps-consultation ul li a {
    padding: 15px 10px !important; }

.process-steps.consultation-steps {
  color: #fff;
  background: #f99f1c; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .process-steps.consultation-steps p {
      font-size: 1.125rem !important; } }

.content {
  margin-bottom: 30px; }
  .content .content-heading {
    font-size: 1.875rem;
    color: #212121;
    margin: 30px 0; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .content .content-heading {
        font-size: 1.5rem;
        text-align: center; } }
  .content .content-inner {
    background: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1); }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .content .content-inner {
        padding: 20px 15px; } }
    .content .content-inner h4.title {
      font-size: 1.625rem;
      font-weight: 400 !important; }
      @media only screen and (min-width: 300px) and (max-width: 480px) {
        .content .content-inner h4.title {
          font-size: 1.25rem !important; } }
    .content .content-inner ul {
      padding: 0;
      margin-top: 30px;
      list-style: none; }
      .content .content-inner ul li {
        width: 12.2%;
        margin: 1%;
        float: left; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .content .content-inner ul li {
            width: 23%; } }
        .content .content-inner ul li .checkbox h5 {
          margin-top: 15px; }
        @media only screen and (min-width: 300px) and (max-width: 480px) {
          .content .content-inner ul li .checkbox img {
            width: 60px;
            height: 60px; } }
        .content .content-inner ul li .recepient .icon-unselected {
          display: block; }
        .content .content-inner ul li .recepient .icon-selected {
          display: none; }
        .content .content-inner ul li .recepient h5 {
          color: #212121; }
          @media only screen and (min-width: 300px) and (max-width: 480px) {
            .content .content-inner ul li .recepient h5 {
              font-size: 1rem; } }
        .content .content-inner ul li .recepient-options {
          display: none; }
      .content .content-inner ul li.active .recepient.active .icon-unselected {
        display: none; }
      .content .content-inner ul li.active .recepient.active .icon-selected {
        display: block; }
      .content .content-inner ul li.active .recepient.active h5 {
        color: #ef4626; }
      .content .content-inner ul li.active .recepient-options {
        display: block; }

.carousel-inner .col-md-4, .carousel-inner .col-sm-4, .carousel-inner .col-xs-4 {
  float: left; }

.room-style-preference input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0; }
.room-style-preference #lifeStyle-selection-id .fa-caret-left, .room-style-preference #lifeStyle-selection-id .fa-caret-right {
  font-size: 50px;
  color: #f99f1c; }
.room-style-preference #lifeStyle-selection-id .carousel-control-next {
  width: 2%;
  opacity: 1 !important;
  right: -1.5rem;
  background: #fff;
  top: 0;
  height: calc(100% - 40%); }
.room-style-preference #lifeStyle-selection-id .carousel-control-prev {
  width: 2%;
  opacity: 1 !important;
  left: -1.5rem;
  background: #fff;
  top: 0;
  height: calc(100% - 40%); }
.room-style-preference .carousel-item .rec-indv {
  position: relative;
  color: #212121;
  text-decoration: none; }
  .room-style-preference .carousel-item .rec-indv img {
    border: 1px solid #e0e0e0;
    padding: 15px; }
  .room-style-preference .carousel-item .rec-indv h4 {
    text-align: center;
    font-size: 1.625rem;
    color: #212121 !important;
    margin: 15px 0; }
  .room-style-preference .carousel-item .rec-indv p {
    color: #212121 !important; }
.room-style-preference .carousel-item .rec-indv-wrapper .selected-style {
  display: none;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #f99f1c;
  border-radius: 100%;
  top: 20%;
  left: 50%;
  transform: translateX(-50%); }
  .room-style-preference .carousel-item .rec-indv-wrapper .selected-style .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    color: #fff;
    font-size: 30px; }
.room-style-preference .carousel-item .rec-indv-wrapper.active .rec-indv img {
  border: 1px solid #f99f1c; }
.room-style-preference .carousel-item .rec-indv-wrapper.active .rec-indv h4 {
  color: #ef4626 !important; }
.room-style-preference .carousel-item .rec-indv-wrapper.active .selected-style {
  display: inline-block !important; }

.property-type .icon-unselected {
  display: block;
  margin: 0 auto; }
.property-type .icon-selected {
  display: none;
  margin: 0 auto; }
.property-type.active .icon-unselected {
  display: none; }
.property-type.active .icon-selected {
  display: block; }
.property-type.active .radio-content-wrapper {
  color: #ef4626;
  font-weight: bold !important; }
.property-type .custom-radio {
  margin-top: 1.5rem; }

.input-group-btn {
  line-height: 46px;
  border-radius: 0 5px 5px 0;
  height: 46px; }
  .input-group-btn i {
    padding: 15px 10px !important;
    line-height: 1; }

.new_house_details, .tenative_possession_dates {
  display: none; }
  .new_house_details .content-inner, .tenative_possession_dates .content-inner {
    min-height: 190px; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .new_house_details .marginRight-0, .tenative_possession_dates .marginRight-0 {
      margin-right: -15px !important; } }
  .new_house_details .col-sm-6, .new_house_details .col-xs-6, .tenative_possession_dates .col-sm-6, .tenative_possession_dates .col-xs-6 {
    width: 50%;
    text-align: center; }

.new_house_details.active, .tenative_possession_dates.active {
  display: block; }

.bootstrap-datetimepicker-widget {
  display: block !important; }

.gj-datepicker-bootstrap [role=right-icon] button {
  color: #fff !important;
  border: 1px solid #f99f1c !important;
  background-color: #f99f1c !important; }

.gj-datepicker-bootstrap [role=right-icon] button .gj-icon {
  top: 12px !important; }

.room-items-map ul {
  border-bottom: 0px solid #dee2e6; }
  .room-items-map ul li {
    background: #fff;
    -ms-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1); }
    .room-items-map ul li a {
      color: #9b9b9b !important;
      border: 0;
      border-radius: 0;
      border-right: 2px solid #e0e0e0 !important;
      display: flex;
      padding: 1rem 1rem;
      border-color: transparent !important; }
      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .room-items-map ul li a {
          padding: 0.5rem; } }
      .room-items-map ul li a img {
        height: 40px; }
        @media only screen and (min-width: 320px) and (max-width: 767px) {
          .room-items-map ul li a img {
            height: auto;
            width: 30px; } }
      .room-items-map ul li a h4 {
        margin-left: 10px;
        margin-bottom: 3px; }
      .room-items-map ul li a h5 {
        margin-left: 10px;
        margin-bottom: 0px; }
      .room-items-map ul li a .icon-unselected {
        display: block; }
      .room-items-map ul li a .icon-selected {
        display: none; }
    .room-items-map ul li a.active {
      color: #212121 !important; }
      .room-items-map ul li a.active h5 {
        color: #f99f1c !important; }
      .room-items-map ul li a.active .icon-selected {
        display: block; }
      .room-items-map ul li a.active .icon-unselected {
        display: none; }

.tab-content.tab-content-items-selection h4 {
  color: #000; }
.tab-content.tab-content-items-selection .custom-control label {
  font-weight: 300 !important; }

.cust-check {
  padding: 10px;
  margin: 0 15px 15px 0;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 2px rgba(215, 215, 215, 0.5);
  font-size: 1rem;
  cursor: pointer;
  width: 180px;
  text-align: center; }
  .cust-check.checked {
    border: solid 2px #f99f1c !important;
    color: #ef4626 !important; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .cust-check {
      font-size: 0.875rem !important;
      width: auto !important; } }

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .book-appointemnt-details-wrapper h4 {
    font-size: 1.25rem !important; } }
.book-appointemnt-details-wrapper .booked-icon {
  float: left; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .book-appointemnt-details-wrapper .booked-icon {
      float: none; } }
.book-appointemnt-details-wrapper img {
  height: 70px; }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    .book-appointemnt-details-wrapper img {
      width: 100%;
      margin: 0 auto 30px; } }
.book-appointemnt-details-wrapper .book-appointemnt-details {
  margin-left: 90px; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .book-appointemnt-details-wrapper .book-appointemnt-details {
      margin-left: 20px; } }
  .book-appointemnt-details-wrapper .book-appointemnt-details h5 {
    margin-bottom: 15px; }
    @media only screen and (min-width: 300px) and (max-width: 480px) {
      .book-appointemnt-details-wrapper .book-appointemnt-details h5 {
        font-size: 1.25rem !important; } }
  .book-appointemnt-details-wrapper .book-appointemnt-details p {
    margin-bottom: 10px; }

.budget-increased-wrapper {
  margin-top: 20%; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .budget-increased-wrapper {
      margin-top: 0%; } }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .consultation-responsive .custom-radio .radio-content-wrapper, .house-planning .custom-radio .radio-content-wrapper, .property-type .custom-radio .radio-content-wrapper {
    margin-top: 30px;
    position: absolute;
    margin-left: 80px; } }

.consultation-responsive .section1 .property-type, .house-selection-responsive .section1 .property-type, .house-plan-responsive .section1 .property-type {
  margin-bottom: 20px; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .consultation-responsive .section1 .property-type img, .house-selection-responsive .section1 .property-type img, .house-plan-responsive .section1 .property-type img {
      height: 60px;
      float: left; } }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .consultation-responsive .section1 .property-type .custom-control, .house-selection-responsive .section1 .property-type .custom-control, .house-plan-responsive .section1 .property-type .custom-control {
      margin-left: 80px;
      text-align: left; } }
.consultation-responsive .section2 .margin-sec-left, .house-selection-responsive .section2 .margin-sec-left, .house-plan-responsive .section2 .margin-sec-left {
  margin-left: 0 !important; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .consultation-responsive .section2 .margin-sec-left, .house-selection-responsive .section2 .margin-sec-left, .house-plan-responsive .section2 .margin-sec-left {
      margin-left: -15px !important; }
      .consultation-responsive .section2 .margin-sec-left .input-group, .house-selection-responsive .section2 .margin-sec-left .input-group, .house-plan-responsive .section2 .margin-sec-left .input-group {
        margin: 0 15px; } }
.consultation-responsive .section2 .margin-sec-right, .house-selection-responsive .section2 .margin-sec-right, .house-plan-responsive .section2 .margin-sec-right {
  margin-right: 0 !important; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .consultation-responsive .section2 .margin-sec-right, .house-selection-responsive .section2 .margin-sec-right, .house-plan-responsive .section2 .margin-sec-right {
      margin-right: -15px !important; }
      .consultation-responsive .section2 .margin-sec-right .input-group, .house-selection-responsive .section2 .margin-sec-right .input-group, .house-plan-responsive .section2 .margin-sec-right .input-group {
        margin: 0 15px !important; } }

.house-plan-responsive .section2 .margin-sec-right .input-group, .house-plan-responsive .section2 .margin-sec-left .input-group {
  margin: 0 !important; }
@media only screen and (min-width: 300px) and (max-width: 480px) {
  .house-plan-responsive .row-eq-height {
    display: block; } }

@media only screen and (min-width: 300px) and (max-width: 480px) {
  .book-appointment-responsive .cal-icon {
    height: 60px; } }

.recepientWrapper {
  margin-bottom: 15px; }
  @media only screen and (min-width: 300px) and (max-width: 480px) {
    .recepientWrapper {
      margin-bottom: 30px; } }

select option[value=""][disabled] {
  color: #e0e0e0; }

.member-selection input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0; }
.member-selection select.classic {
  height: 30px !important;
  font-size: 0.75rem !important;
  background-position: calc(100% - 13px) calc(0.5em + 4px), calc(100% - 8px) calc(0.5em + 4px), 100% 0;
  background-size: 6px 10px, 5px 10px, 2em 2.5em; }

.selectProduct {
  visibility: hidden;
  width: 0;
  height: 0; }

.custom-check-wrapper.active {
  color: #ef4626 !important;
  font-weight: bold; }

@media only screen and (min-width: 300px) and (max-width: 980px) {
  .actions .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }
    .actions .col-md-4 .steps-count {
      margin: 15px 0 0 0 !important;
      font-size: 0.8125rem !important; } }

@media only screen and (min-width: 300px) and (max-width: 767px) {
  .process-steps-items-selection-responsive ul li {
    width: 100% !important; } }

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .room-item-banner {
    display: none; } }

.nav-tabs .nav-item {
  margin-bottom: 10px !important; }

.custom-control.active {
  font-weight: bold;
  color: #ef4626; }

.modal-body ul {
  width: 100%; }
  .modal-body ul li a {
    visibility: inherit; }

.lc-cards-width {
  width: 400px !important;
  margin: 0 auto; }
  @media only screen and (min-width: 320px) and (max-width: 980px) {
    .lc-cards-width {
      width: auto !important;
      margin: auto; } }

.property-type {
  margin-bottom: 15px; }

#houseType-error, #customRadio-error {
  position: absolute;
  text-align: center;
  bottom: -35px;
  left: 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    #houseType-error, #customRadio-error {
      width: 180px; } }

#datepicker-error, #bookingDate-error, #tenativePosessionDate-error, #location-error {
  color: red;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  bottom: -35px;
  left: 0; }
  @media only screen and (min-width: 320px) and (max-width: 768px) {
    #datepicker-error, #bookingDate-error, #tenativePosessionDate-error, #location-error {
      width: 180px; } }

label.error {
  display: block;
  float: none;
  text-align: left;
  color: red;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
