@import 'mixins';
.fs-12{
    font-size: 0.75rem !important;
}
.fs-13{
    font-size: 0.8125rem !important;
}
.fs-14{
    font-size: 0.875rem !important;
}
.fs-15{
    font-size: 0.94rem !important;
}
.fs-16{
    font-size: 1rem !important;
}
.fs-18{
    font-size: 1.125rem !important;
}
.fs-20{
    font-size: 1.25rem !important;
}
.fs-24{
    font-size: 1.5rem !important;
}
.fs-30{
    font-size: 1.875rem !important;
}
.fs-36{
    font-size: 2.25rem !important;
}
.padding-0{
    padding: 0 !important;
}
.paddingLeft-0{
    padding-left: 0 !important
}
.paddingRight-0{
    padding-right: 0 !important
}
.margin-0{
    margin: 0 !important;
}
.marginLeft-0{
    margin-left: 0 !important
}
.marginRight-0{
    margin-right: 0 !important
}
.marginTop-1{
    margin-top: 1rem !important;
}
.marginBottom-1{
    margin-bottom: 1rem !important;
}
.fw-300{
    font-weight: 300 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-bold{
    font-weight: bold !important;
}
::placeholder {
    color:#afafaf !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #afafaf !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #afafaf !important;
}

.theme-color{
    color: $theme-color-1 !important;
}
.theme-color-2{
    color: $theme-color-2 !important;
}
.theme-color-bg{
    background: $theme-color-1 !important;
    color: $white-color !important;
}
.form-control:not(textarea) {
    height: calc(2.75rem + 2px) !important;
    border-color: $border-color !important;
    &:hover,:active,&:focus{
        box-shadow: none !important;
        outline: 0 !important;
    }
}
input:read-only{
    background: $white-bg !important;
}

.btn-theme{
    color: $white-color !important;
    background: $theme-color-2;
    border: 2px solid $theme-color-2 !important;
    padding: 14px 60px !important;
    font-weight: bold !important;
    @include responsive(300px,480px){
        padding: 10px !important;
        font-size: 0.8125rem !important;
    }
    &:hover,:active{
        color: $white-color !important;
    }
}
.btn-theme-white{
    color: $theme-color-2 !important;
    border: 2px solid $theme-color-2 !important;
    padding: 14px 60px !important;
    font-weight: bold !important;
    background: $white-bg;
    @include responsive(300px,480px){
        padding: 10px !important;
        font-size: 0.8125rem !important;
    }
    &:hover,:active{
        color: $theme-color-2 !important;
    }
}
.btn-padding-30{
    padding: 14px 30px !important;
    @include responsive(300px,480px){
        padding: 15px !important;
    }
}
.row-eq-height{display: flex;}
.display-flex{display: flex};
.modal.show .modal-dialog{
    @include translate(-50%,-50%);
    top: 50% !important;
    left: 50% !important;
    position: absolute !important;
    @include responsive(300px,320px){
        width: 280px !important;
        margin: 0 !important;
    }
    @include responsive(321px,480px){
        width: 320px !important;
        margin: 0 !important;
    }
}
.close{
    top: 20px;
    z-index: 100;
    background: $white-bg;
    font-weight: 500 !important;
    border: 2px solid #555 !important;
    position: absolute;
    right: 20px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem !important;
    padding: 0rem !important;
    margin: 0 auto !important;
    .times-icon{
        top: -3px;
        display: inline-block;position: relative;
    }
    &:focus{
        outline: 0;
    }
    @include responsive(320px,767px){
        top: 15px;
        right: 15px;
        width: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem !important;
        font-size: 1rem !important;
    }
}
.custom-control-label::before {
    top: 0rem !important;
    left: -2rem !important;
    width: 1.5rem !important;
    height: 1.5rem !important;
    background-color: $white-bg !important;
    border: 2px solid $border-color !important;
}
.custom-control-label::after {
    top: .375rem !important;
    left: -1.665rem !important;
    width: 0.75rem !important;height: 0.75rem !important;
    border-radius:100%;
    background-size: 80% 80% !important;
}
input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 0 !important;
}

.budget-increased-wrapper {
    width: 1140px !important;
    margin: 0 auto !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    @include translate(-50%,-50%);
    @include responsive(300px,960px){
        width: 100% !important;
        margin: auto !important;
        position: relative !important;
        top: auto !important;
        left: auto !important;
        transform: none !important;
    }
}
.steps-count{
    color: $base-color-light;
    margin: 30px 0 0;
    display: inline-block;
}

select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, $white-bg 50%),
      linear-gradient(135deg, $white-bg 50%, transparent 50%),
      linear-gradient(to right, $theme-color-1, $theme-color-1);
    background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),100% 0;
    background-size:6px 10px, 5px 10px, 2.5em 3.5em;
    background-repeat: no-repeat;
  }

  /****** Custom checkbox *******/
  /* The container */
.custom-check {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.125rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: $white-bg;
        border: 2px solid $border-color;
        border-radius: 5px;
    }
}

/* Hide the browser's default checkbox */
.custom-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* On mouse-over, add a grey background color */
.custom-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-check input:checked ~ .checkmark {
    background-color: $white-bg;
    border: 2px solid $theme-color-2;
    color: $theme-color-2 !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid $theme-color-1;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*********** Custom radio *******/
/* The container */
.custom-radio {
    display: block;
    position: relative;
    padding-left: 0px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1.125rem !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    @include responsive(320px,480px){
        font-size: 1rem !important;
    }
    .radio-content-wrapper{
        margin-top: 10px;
        position: relative;
        .checkmark{
            position:relative !important;display:inline-block !important;
            top: 5px !important;
            left: -5px !important;
        }
    }
    /* Create a custom radio button */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 22px;
        width: 22px;
        background-color: $white-bg;
        border: 2px solid $border-color;
        border-radius: 50%;
    }
}

/* Hide the browser's default radio button */
.custom-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}



/* On mouse-over, add a grey background color */
.custom-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio input:checked ~ .checkmark {
    background-color: $white-bg;
    border: 2px solid $theme-color-2;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio input:checked ~ .checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */
.custom-radio .checkmark:after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
	background: $theme-color-1;
}