/********** transform-translate ************/
@mixin translate($x,$y){
    transform: translate($x,$y) !important;
    -webkit-transform: translate($x,$y) !important;
    -ms-transform: translate($x,$y) !important;
    -o-transform: translate($x,$y) !important;
    -moz-transform: translate($x,$y) !important;
}


/********** transform-rotate ************/
@mixin rotate($x){
    transform: rotate($x);
    -webkit-transform: rotate($x);
    -ms-transform: rotate($x);
    -o-transform: rotate($x);
    -moz-transform: rotate($x);
}

/********** transition ************/
@mixin transition($all,$method,$time){
    transition: $all $method $time;
    -webkit-transition: $all $method $time;
    -ms-transition: $all $method $time;
    -o-transition: $all $method $time;
    -moz-transition: $all $method $time;
}
/********** box-shadow *************/


@mixin box-shadow($x, $y, $blur, $spread, $color) {
    -ms-box-shadow:$x $y $blur $spread $color;
    -o-box-shadow:$x $y $blur $spread $color;
    -webkit-box-shadow:$x $y $blur $spread $color;
    -moz-box-shadow:$x $y $blur $spread $color;
    box-shadow:$x $y $blur $spread $color;
}

/******** Responsive *******/
@mixin responsive($min,$max) {
    @media only screen and ( min-width : $min ) and ( max-width : $max ) {
        @content;
    }
}