$base-color : #212121;
$base-color-light : #9b9b9b;
$dark-color : #000;
$dark-bg : #000;
$white-bg : #fff;
$light-bg : #fafafa;
$white-color : #fff;
$theme-color-1 : #f99f1c;
$theme-color-2 : #ef4626;
$border-color : #e0e0e0;
