@import "variables";
@import "common";
@import "mixins";
// @font-face {
//     font-family: "Harabara Bold";
//     src: url("css/fonts/Harabara.eot");
//     src: 
//     url("css/fonts/Harabara.woff") format("woff"),
//     url("css/fonts/Harabara.otf") format("opentype"),
//     url("css/fonts/Harabara.svg#filename") format("svg");
// }
html{
    font-size:100%;
    color: $base-color !important;
    font-family: 'Muli', sans-serif !important;
    background-color: $light-bg !important;
}
body{
    background-color: $light-bg !important;
    color: $base-color !important;
}
.header {
    background: $dark-bg;
    color: $white-color;
    .header-left-panel{
        position: relative;
        img{
            position: absolute;
            margin-top: 25px;
            @include responsive(300px,480px){
                margin-top: 15px;
                height: 45px;
            }
        }
        b{
            font-size: 1rem;
            margin-left: 70px;
            margin-top: 20px;
            display: inline-block;
            @include responsive(300px,480px){
                margin-left: 60px;
            }
        }
    }
    .header-right-panel{
        ul{
            list-style-type: none;
            float: right;
            margin-top: 22px;
            @include responsive(300px,480px){
                float: left;
                margin-top: 0px;
                padding: 0;
                margin-left: 60px;
            }
            li{
                display: inline-block;
                float: left;
                margin-left: 15px;
                font-size: 0.875rem;
                opacity: 0.5;
                @include responsive(300px,480px){
                    margin-left: 0px;
                    float: none;
                }
            }
        }
    }
}
.process-steps{
    background: $white-bg;
    @include box-shadow(0,1px,5px,0,rgba(0, 0, 0, 0.15));
    .profile-percentage{
        color: $theme-color-1;
        margin: 10px 0 0px 5px;
        display: inline-block;
        @include responsive(300px,480px){
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: 10px;
        }
    }
    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        &.process-steps-flow1{
            @include responsive(300px,480px){
                width: 80%;
                float: left;
            }  
            li{
                a{
                    @include responsive(300px,480px){
                        visibility: hidden;
                    }
                }
            }  
        }
        @include responsive(300px,480px){
            width: 100%;
            float: left;
        }
        li{
            display: block;
            width: 25%;
            float: left;
            text-align: center;
            position: relative;
            a{
                color: $base-color-light;
                font-size: 1rem;
                padding: 0px 5px 15px;
                display: inline-block;
                text-decoration: none;
                position: relative;
                background: $white-bg;
                z-index: 1;
            }
            .process-steps-line{
                width: 100%;
                height: 0px;
                display: block;
                border-bottom: 2px dashed #d7d7d7;
                position: absolute;
                left: 0;
                top: 12px;
                &:after {
                    @include responsive(300px,480px){
                        width: 35px;
                        height: 35px;
                        background: $white-bg;
                        position: absolute;
                        content: 'x';
                        left: 0;
                        top: -17px;
                        border-radius: 100%;
                        line-height: 20px;
                        text-align: center;
                        color: $white-color;
                        border: 2px solid $border-color;
                        padding: 5px;
                    }
                }
            }
            
            &:last-of-type{
                text-align: right;
                float: left;
                .process-steps-line{
                    @include responsive(300px,420px){
                            border-bottom: 0px dashed #d7d7d7;
                    }
                }
            }
            &:first-child{
                text-align: left;
                float: left;
            }
            &.completed{
                a{
                    color: $base-color;
                }
                .process-steps-line{
                    border-bottom: 2px dashed $theme-color-1;
                    &:after {
                        @include responsive(300px,480px){
                            width: 35px;
                            height: 35px;
                            background: $theme-color-1;
                            position: absolute;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f00c";
                            left: 0;
                            top: -17px;
                            border-radius: 100%;
                            line-height: 20px;
                            text-align: center;
                            color: $white-color;
                            border: 2px solid $theme-color-1;
                            padding: 5px;
                        }
                    }
                }
            }
            &.active{
                a{
                    color: $theme-color-2;
                }
                .process-steps-line{
                    border-bottom: 2px dashed $theme-color-1;
                    &:after {
                        @include responsive(300px,480px){
                            width: 35px;
                            height: 35px;
                            background: $white-bg;
                            position: absolute;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            content: "\f111";
                            left: 0;
                            top: -17px;
                            border-radius: 100%;
                            line-height: 20px;
                            text-align: center;
                            color: $theme-color-1;
                            border: 2px solid $theme-color-2;
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}
.text-sm-center.text-xs-center{
    @include responsive(300px,767px){
        text-align: center;
    }
}
.d-sm-no{
    @include responsive(300px,767px){
        display: none !important;
    }
}
.d-md-block{
    display: block;
    @include responsive(300px,767px){
        width: 80% !important;
    }
}
.d-xs-block{
    display: none;
    a{
        color: $theme-color-2 !important;
    }
    @include responsive(300px,767px){
        font-size: 0.8125rem;
        font-weight: bold !important;
        margin-top: 25px;
        display: inline-block;
    }
}
.process-steps.process-steps-items-selection{
    ul{
        li{
            display: flex;
            img{
                width: 27px;
            }
            a{
                text-align: left !important;
                padding: 15px 10px !important;
                font-size: 0.8125rem !important;
            }
        }
        li:last-of-type{
            text-align: left !important;
        }
    }
}
.process-steps.process-steps-consultation{
    ul{
        li{
            display: flex;
            a{
                padding: 15px 10px !important;
            }
        }
    }
}
.process-steps.consultation-steps{
    color: $white-color;
    background: $theme-color-1;
    p{
        @include responsive(300px,480px){
            font-size: 1.125rem !important;
        }
    }
}
.content{
    margin-bottom: 30px;
    .content-heading{
        font-size: 1.875rem;
        color: $base-color;
        margin: 30px 0;
        @include responsive(300px,480px){
            font-size:1.5rem;
            text-align: center;
        }
    }
    .content-inner{
        background: $white-bg;
        border-radius: 5px;
        padding: 30px;
        margin-bottom: 30px;
        @include responsive(300px,480px){
            padding: 20px 15px;
        }
        @include box-shadow(0,1px,5px,0,rgba(0, 0, 0, 0.1));
        h4.title{
            font-size: 1.625rem;
            font-weight: 400 !important;
            @include responsive(300px,480px){
                font-size:1.25rem !important;
            }
        }
        ul{
            padding: 0;
            margin-top: 30px;
            list-style: none;
            li{
                width: 12.2%;
                margin: 1%;
                float: left;
                @include responsive(300px,480px){
                    width: 23%;
                }
                .checkbox{
                    // input[type="checkbox"]{
                    //     visibility: hidden;
                    //     width: 0;
                    //     height: 0;
                    // }
                    h5{
                        margin-top: 15px;
                    }
                    img{
                        @include responsive(300px,480px){
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .recepient{
                    .icon-unselected{
                        display: block;
                    }
                    .icon-selected{
                        display: none;
                    }
                    h5{
                        color: $base-color;
                        @include responsive(300px,480px){
                            font-size:1rem;
                        }
                    }
                }
                .recepient-options{
                    display: none;
                }
            }
            li.active{
                .recepient.active{
                    .icon-unselected{
                        display: none;
                    }
                    .icon-selected{
                        display: block;
                    }
                    h5{
                        color: $theme-color-2;
                    }
                }
                .recepient-options{
                    display: block;
                }
            }
        }
    }
}
.carousel-inner{
    .col-md-4,.col-sm-4,.col-xs-4{float: left;}
}
.room-style-preference{
    input[type="checkbox"]{
        visibility: hidden;
        width: 0;height: 0;
    }
    #lifeStyle-selection-id{
        .fa-caret-left,.fa-caret-right{font-size: 50px;color: $theme-color-1;}
        .carousel-control-next{
            width: 2%;
            opacity: 1 !important;
            right: -1.5rem;
            background: $white-bg;
            top: 0;
            height: calc(100% - 40%);
        } 
        .carousel-control-prev{
            width: 2%;
            opacity: 1 !important;
            left: -1.5rem;
            background: $white-bg;
            top: 0;
            height: calc(100% - 40%);
        }
    }
    .carousel-item{
        .rec-indv{
            position: relative;
            color: $base-color;
            text-decoration: none;
            img{
                border: 1px solid $border-color;
                padding: 15px;
            }
            h4{
                text-align: center;
                font-size: 1.625rem;
                color: $base-color !important;
                margin :15px 0;
            }
            p{
                color : $base-color !important;
            }
            
        }
        .rec-indv-wrapper{
            .selected-style{
                display: none;
                position: absolute;
                width: 100px;
                height: 100px;
                background: $theme-color-1;
                border-radius: 100%;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
                .fas{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include translate(-50%,-50%);
                    color: $white-color;
                    font-size: 30px;
                }
            }

        }
        .rec-indv-wrapper.active{
            .rec-indv{
                img{
                    border: 1px solid $theme-color-1;
                }
                h4{
                    color: $theme-color-2 !important;
                }
            }
            .selected-style{
                display: inline-block !important;
            }
        }
    }
}
.property-type{
    .icon-unselected{display: block;margin: 0 auto;}
    .icon-selected{display: none;margin: 0 auto;}
    &.active{
        .icon-unselected{display: none;}
        .icon-selected{display: block;}  
        .radio-content-wrapper{
            color: $theme-color-2;
            font-weight: bold !important;
        }  
    }
    .custom-radio{
        margin-top: 1.5rem;
    }
}
.input-group-btn{
    line-height: 46px;
    border-radius: 0 5px 5px 0;
    height: 46px;
    i{
        padding: 15px 10px !important; 
        line-height: 1;
    }
}
.new_house_details,.tenative_possession_dates{
    display: none;
    .content-inner{
        min-height: 190px;
    }
    .marginRight-0{
        @include responsive(300px,480px){
            margin-right: -15px !important;
        }
    }
    .col-sm-6,.col-xs-6{width: 50%;text-align: center;}
}
.new_house_details.active,.tenative_possession_dates.active{
    display: block;
}
.bootstrap-datetimepicker-widget{
    display: block !important;
}
.gj-datepicker-bootstrap [role=right-icon] button {
    color: $white-color !important;border: 1px solid $theme-color-1 !important;
    background-color: $theme-color-1 !important;
}
.gj-datepicker-bootstrap [role=right-icon] button .gj-icon{top: 12px !important;}
.room-items-map{
    ul{
        border-bottom: 0px solid #dee2e6;
        li{
            background: $white-bg;
            @include box-shadow(0,1px,5px,0,rgba(0, 0, 0, 0.1));
            a{
                color: $base-color-light !important;
                border: 0;
                border-radius: 0;   
                border-right: 2px solid $border-color !important;
                display: flex;
                padding: 1rem 1rem;
                border-color: transparent !important;
                @include responsive(320px,767px){
                    padding: 0.5rem;
                }
                img{
                    height: 40px;
                    @include responsive(320px,767px){
                        height: auto;
                        width: 30px;
                    }
                }
                h4{
                    @extend .fs-18;
                    margin-left: 10px;
                    margin-bottom: 3px;
                }
                h5{
                    @extend .fs-15;
                    margin-left: 10px;
                    margin-bottom: 0px;
                }
                .icon-unselected{
                    display: block;
                }
                .icon-selected{
                    display: none;
                }
            }
            a.active{
                color: $base-color !important;
                h5{
                    color: $theme-color-1 !important;
                }
                .icon-selected{
                    display: block;
                }
                .icon-unselected{
                    display: none;
                }
            }
        }
    }
}
.tab-content.tab-content-items-selection{
    h4{
        color: $dark-color;
    }
    .custom-control{
        label{
            font-weight: 300 !important;
            @extend .fs-16;
        }
    }
}
.cust-check {
    &.checked{
        border: solid 2px $theme-color-1 !important; 
        color: $theme-color-2 !important;   
    }
    padding: 10px;
    margin: 0 15px 15px 0;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 2px rgba(215, 215, 215, 0.5);
    font-size: 1rem;
    cursor: pointer;
    width: 180px;
    text-align: center;
    @include responsive(300px,480px){
        font-size: 0.875rem !important;
        width: auto !important;
    }
}
.book-appointemnt-details-wrapper{
    h4{
        @include responsive(300px,480px){
            font-size: 1.25rem !important;
        }
    }
    .booked-icon{
        float: left;
        @include responsive(320px,480px){
            float: none;
        }
    }
    img{
        height: 70px;
        @include responsive(320px,480px){
            width: 100%;
            margin: 0 auto 30px;
        }
    }
    .book-appointemnt-details{
        margin-left: 90px;
        @include responsive(300px,480px){
            margin-left: 20px;
        }
        h5{
            @extend .fs-24;
            margin-bottom: 15px;
            @include responsive(300px,480px){
                font-size: 1.25rem !important;
            }
        }
        p{
            margin-bottom: 10px;
        }
    }
}
.budget-increased-wrapper{
    margin-top: 20%;
    @include responsive(300px,480px){
        margin-top: 0%;
    }
}
.consultation-responsive,.house-planning,.property-type{
    .custom-radio .radio-content-wrapper {
        @include responsive(320px,480px){
            margin-top: 30px;
            position: absolute;
            margin-left: 80px;
        }
    }
}
.consultation-responsive,.house-selection-responsive,.house-plan-responsive{
    .section1{
        .property-type{
            margin-bottom: 20px;
            img{
                @include responsive(300px,480px){
                    height: 60px;
                    float: left;
                }
            }
            .custom-control{
                @include responsive(300px,480px){
                    margin-left: 80px;
                    text-align: left;
                }
            }
        }
    }
    .section2{
        .margin-sec-left{
            margin-left: 0 !important;
            @include responsive(300px,480px){
                margin-left: -15px !important;
                .input-group{
                    margin: 0 15px;
                }
            }
        }
        .margin-sec-right{
            margin-right: 0 !important;
            @include responsive(300px,480px){
                margin-right: -15px !important;
                .input-group{
                    margin: 0 15px !important;
                }
            }
        }
    }
    // .row-eq-height{
    //     @include responsive(300px,480px){
    //         display: block;
    //     }
    // }
}
.house-plan-responsive{
    .section2 {
        .margin-sec-right,.margin-sec-left{
            .input-group {
                margin: 0 !important;
            }
        }
    }
    @include responsive(300px,480px){
        .row-eq-height{
            display: block;
        }
    }
}
.book-appointment-responsive{
    .cal-icon{
        @include responsive(300px,480px){
            height: 60px;
        }
    }
}
.recepientWrapper{
    margin-bottom: 15px;
    @include responsive(300px,480px){
        margin-bottom: 30px;
    }
}
select option[value=""][disabled]{
    color: $border-color;
}
.member-selection{
    input[type="checkbox"]{
        visibility: hidden;
        width: 0;height: 0;
    }
    select.classic{
        height: 30px !important;
        font-size: 0.75rem !important;
        background-position: calc(100% - 13px) calc(0.5em + 4px), calc(100% - 8px) calc(0.5em + 4px), 100% 0;
        background-size: 6px 10px, 5px 10px, 2em 2.5em;
    }
}
.selectProduct{
    visibility: hidden;width: 0;height: 0;
}
.custom-check-wrapper{
    &.active{
        color: $theme-color-2 !important;
        font-weight: bold;
    }
}
.actions{
    .col-md-4{
        @include responsive(300px,980px){
            .steps-count{
                margin: 15px 0 0 0 !important;
                font-size: 0.8125rem !important;
            }
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
    }
}
.process-steps-items-selection-responsive{
    @include responsive(300px,767px){
        ul{
            li{
                width: 100% !important;
            }
        }
    }
}
.room-item-banner{
    @include responsive(280px,767px){
        display: none;
    }
}
.nav-tabs .nav-item{
    margin-bottom: 10px !important;
}
.custom-control{
    &.active{
        font-weight: bold;
        color: $theme-color-2;
    }
}
.modal-body{
    ul{
        width: 100%;
        li{
            a{
                visibility: inherit;
            }
        }
    }
}
.lc-cards-width{
    width: 400px !important;
    margin: 0 auto;
    @include responsive(320px,980px){
        width: auto !important;
        margin: auto;
    }
}
.property-type{
    margin-bottom: 15px; 
}
#houseType-error,#customRadio-error{
    position: absolute;
    text-align: center;
    bottom: -35px;left: 0;
    @include responsive(320px,768px){
        width: 180px;
    }
}
#datepicker-error,#bookingDate-error,#tenativePosessionDate-error,#location-error{
    color: red;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: -35px;left: 0;
    @include responsive(320px,768px){
        width: 180px;
    }
}
label.error {
    display: block;
    float: none;
    text-align: left;
    color: red;
    width: 100%;
}